doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#body
    block content
script(src='/vue/dist/vue.js')
script(src='/javascripts/custom.js')