<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
	<style type="text/css">
		.v-link-active{
			color: #a94442
		}
		.nav{
			border-right: 1px solid #DDDDDD;
			min-height: 500px;
		}
		/* The animation code */
		@keyframes example {
		    from {opacity: 0;}
		    to {opacity: 1;}
		}

		/* The element to apply the animation to */
		.ani {
		    animation-name: example;
		    animation-duration: 2s;
		}
	</style>
</head>

<body id="body" style="margin-top:100px" v-bind:class="$route.path ==='/foo' || $route.path ==='/'? 'classB' : '' ">
	<div class="container" id="app" >
		<div class="row">
			<div class="col-lg-1 nav">
				<p class="pull-left">
			    	<!-- use v-link directive for navigation. -->
			    	<a v-link="{ path: '/foo' }">
			    		<span class="glyphicon glyphicon-list"></span>  Issues
			    	</a>
			    	<br><br>
			    	<a v-link="{ path: '/bar' }"><span class="glyphicon glyphicon-cog"></span> Chatting</a>
				</p>

			</div>

			<div class="col-lg-8 col-lg-offset-1">
				<h3 >
					Expressing your Vue {{ title }}

				</h3>
				<h2>
					<span class="glyphicon glyphicon-heart text-danger"></span>
				</h2>
				<!-- route outlet -->
				<router-view ></router-view>	

			</div>	
		</div>

	</div>

	<script type="text/javascript" src="/socket.io-client/socket.io.js"></script>

	<script type="text/javascript" src="/javascripts/appbuild.js"></script>
	
	<script type="text/javascript">
	
	  var socket = io('http://localhost:8000');
  
	  socket.on('news', function (data) {
	    
	    console.log(data);
	  
	  }); 

	</script>
	
</body>

</html>